*,
*::after,
*::before {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  background-image: url(images/circle-blues.png);
}
nav ul{
  list-style-type: none;
}


article{
  padding: 1rem;
  margin: auto;
  background-color: white;
  border: 1rem ridge grey;
  width: 65%;
  color: darkblue;
  margin-top: 2rem;
}
p{
  color: darkblue;
  text-align: center;
}
nav a:hover{
  border-color: white;
}
nav{
  border: 1rem ridge grey;
  background-color: black;
  position: fixed;
  right: 1%;
  top: 23%;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 15%;
}
nav .button{
    padding: .2rem .2rem;
}

ul{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

}
header{
  color: darkblue;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
  border: 1rem ridge grey;
}

.button {
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 2rem;
    border: 4px solid transparent;
    padding: 1rem 2rem;
    text-align: center;
}
.Projects div{
  display: flex;
  align-items: center;

}
.projectID div{
  display: flex;
  flex-direction: column;
}
.projectID{
  color: darkblue;
  width: 33%;
  margin: 5%;
  border: 1rem ridge grey;
  background-color: white;
  flex-direction: column;
  padding: 1rem 1rem;
}
div .button{
  padding: 1rem;
  border: 10px solid transparent;


}
a:hover {
  border-color: darkblue;
}
.Projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects-title{
  background-color: white;
  color: darkblue;
  border: 1rem ridge grey;
  width: 50%;
}
.resume{
  background-color: white;
  color: darkblue;
  border: 1rem ridge grey;
  text-align: center;
  padding: 1rem;
}
.resume a{
  margin: auto;
}
footer p{
  color: white;
}








/* Media Querys */
@media screen and (min-width: 800px) and (max-width: 1400px){
  nav .button{
    padding: 0rem 0rem;


  }
}

 @media screen and (min-width: 0px) and (max-width: 799px){
  .nav-ul{
    flex-direction: row;
    padding:0;
  }
  .Projects{
    display: flex;
    flex-direction: column;
  }

  nav{
    position: fixed;
    top:3px;
    width: 300px;
    padding: 0;
  }

  nav .button{
    padding: .2rem .2rem;
  }
}
