html{
  color: white;

}
body{
  background-color: #4e4d4d;


}

li{
  display: inline-block;
  list-style-position: inside;
}
p{
  color: white;
  text-align: center;


}
nav{
  background-color: grey;
  text-align: right;
}
header{
  background-color: grey;
}

.button {
    color: white;
    background-color: black;
    display: inline-block; padding: 2px 8px;
}
.currentpage{

}
