*,
*::after,
*::before {
  box-sizing: border-box;
}
html{
  color: white;
}
body{
  background-color: #4e4d4d;
}

nav li{
  display: inline-block;

}
article{
  margin: auto;
  background-color: grey;
  width: 65%;
}
p{
  color: white;
  text-align: center;
}
nav{
  background-color: black;
  position: fixed;
  right: 1%;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 10%;
}

ul{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
header{
  background-color: grey;
  padding: 1rem;
}

.button {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 30px;
    margin-bottom: 2rem;
    border: 2px solid transparent;
    padding: 1rem 2rem;
    text-align: center;
}
.Projects div{
  display: flex;
  align-items: center;

}
.projectID div{
  display: flex;
  flex-direction: column;
}
.projectID{
  width: 33%;
  margin: 5%;
  background-color: grey;
  flex-direction: column;
  padding: 1rem 1rem;
}
div .button{
  padding: .5rem;

}
a:hover {
  border-color: white;
}
.Projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}






/* Media Querys */
@media screen and (min-width: 800px) and (max-width: 1400px){
  nav .button{
    padding: .2rem .2rem;


  }
}

 @media screen and (min-width: 0px) and (max-width: 799px){
  .nav-ul{
    flex-direction: row;
    padding:0;


  }
  .Projects{
    display: flex;
    flex-direction: column;
  }

  nav{
    position: fixed;
    top:3px;
    width: 35%;
    padding: 0;
  }

  nav .button{
    padding: .2rem .2rem;
  }

}
